html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ver{
    display: none;
    position: absolute;
    color: white;
    top: 250px;
    font-weight: bold;
}

.verBtn{
    width:300px!important;
    background: rgba(66, 142, 37,0.6)!important; 
    color: white;
    border-radius: 12px!important;
}
